<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Success</h1>
    <p>Please visit <a href="/products">the shop</a> for more products.</p>
  </main>
<%- include('../../shared/includes/footer') %>